*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    padding-top: 40px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


h1{
    font-weight: 700;
    font-size: 55px;
}

input{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container{
    max-width: 1320px;
    padding: 0 24px;
    margin: 0 auto;
}

.flex-betwn-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav{
    flex-basis: 435px;
}


.nav-links{
    display: flex;
    justify-content: space-between;
}

.nav-links a{
    color: #070F18;
}

.active{
    font-weight: 600;
}

.sign-in{
    color: #070F18;
    background-color: #F5F6FB;
    border-radius: 50px;
    padding: 12px 50px;
}

.hero{
    position: relative;
    padding: 100px 0 79px 0;
}

.hero p{
    line-height: 32px;
    color: #575455;
    margin: 20px 0 30px 0;
    max-width:423px;
}

.get-started{
    display: inline-block;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #1F7CFF;
    border-radius: 50px;
    padding: 12px 45px;
   
}

.hero-image{
    width: 50%;
}

.hero-image img{
   border-radius: 60px;
}

.analytics{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 13px 19px 20px 13px;
    box-shadow: -7px 9px 18px 0px #0000000D;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-and-text{
    display: flex;
    gap: 12px;
}

.hero .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #191046;
}

.analytics-text h2{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #070F18;
}

.analytics-text span{
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #575455;
    padding-top: 2px;
}

.chart{
    display: flex;
    gap: 9px;
    align-items: flex-end;
    padding-top: 15px;
}

.chart span{
    width: 10px;
    background-color: #EAECF2;
    border-radius: 48px;
}

.chart span:first-of-type{
   height: 37px;
}

.chart span:nth-of-type(2){
    height: 22px;
 }

 .chart span:nth-of-type(3){
    height: 31px;
 }

 .chart span:nth-of-type(4){
    height: 16px;
 }

 .chart span:nth-of-type(5){
    height: 24px;
 }

 .chart span:nth-of-type(6){
    height: 49px;
 }

 .chart span:nth-of-type(7){
    height: 39px;
 }

 .chart span:nth-of-type(8){
    height: 29px;
    background-color: #F75C4E;

 }

 .chart span:nth-of-type(9){
    height: 49px;
    background-color: #F75C4E;
 }

.chart span:last-of-type{
    height: 63px;
    background-color: #1F7CFF;

 }

 .bulk-export{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 10px 32px 9px 13px;
    box-shadow: 7px 9px 18px 0px #0000000D;
    top: 153px;
    right: 30px;
 }


.trust{
    max-width: 1162px;
}

.trust-text{
    font-weight: 600;
    color: #070F18;
}
.trust-text span{
    display: block;
}

.trust-logos{
    display: flex;
    max-width: 723px;
    flex: 1;
    justify-content: space-between;
}

.trust-logos img{
    height: 30px;
    transition: 0.3s;
}

.trust-logos img:hover{
    transform: scale(1.2);
}

.features{
    padding: 130px 0;
}

.features-text {
    text-align: center;
    padding-bottom: 70px;
}

.special-h2{
    font-size: 16px;
    line-height: 24px;
    color: #F75C4E;
}


.special-span{
    display: block;
    font-weight: 700;
    font-size: 36px;
    padding: 6px 0 20px 0;
}

.special-p{
    color: #575455;
    max-width: 386px;
    margin: 0 auto;
    line-height: 32px;
}

.features-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:60px;
    margin: 0 36px;
}

.feature{
    position: relative;
    padding-left: 84px;
    max-width: 310px;
}

.feature::before{
    position: absolute;
    left: 0px;
}

.feat-one::before{content: url(images/share.png);}
.feat-two::before{content: url(images/track.png);}
.feat-three::before{content: url(images/offline.png);}
.feat-four::before{content: url(images/kanban.png);}
.feat-five::before{content: url(images/reward.png);}
.feat-six::before{content: url(images/countries.png);}

.feature h3{
    font-weight: 600;
    font-size: 20px;
    color: #070F18;
}

.feature p{
    color: #575455;
    margin-top: 12px;
    line-height: 32px;
}

.showcase{
    display: flex;
    align-items: center;
    gap:70px;
    margin-bottom: 130px;
}

.video{
    position: relative;
}

.video::before{
    position: absolute;
    content: url(images/play-btn.png);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.video img{
    border-radius: 40px;
    width: 100%;
}
.save p{
    margin: 0;
}
.input-holder{
    background-color: #F5F6FB;
    border-radius: 50px;
    display: flex;
    margin-top: 40px;
}


.email{
    border: none;
    background-color: #F5F6FB;
    color: #575455;
    padding: 12px 45px 12px 24px;
    border-radius: 50px;
}

.email:focus{
    outline: none;
}

.submit{
    border: none;
    cursor: pointer;
}


/* tablet */
@media (max-width:991px){
    nav{
        display: none;
    }
    .hero-image{
        display: none;
    }

    .analytics{
        display: none;
    }

    .bulk-export{
        display: none;
    }

    .hero{
        justify-content: center;
        text-align: center;
    }

    .trust-text span{
        display: inline;
    }

    .trust{
        flex-direction: column;
        gap: 30px;
        
    }

    .trust-logos{
        width: 100%;
    }

    .feature{
        max-width: 100%;
    }


    .feature.feat-six {
        grid-area: 2/2;
    }

    .showcase{
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    .video img {
        width: 522px;
    }
    
    .save{
        text-align: center;
    }
    .save p {
        margin: 0 auto;
    }
    
}

/* mobile */
@media (max-width:767px){
    .container {
        padding: 0px 23px;
    }

    nav{
        display: none;
    }

    .special-span{
        font-size: 28px;
        line-height: 42px;

    }

    .analytics{
        display: none;
    }

    .bulk-export{
        display: none;
    }

    .hero{
        padding: 50px 0;
    }

    .hero-text{
        flex:1;
        text-align: left;
    }
    .hero-image{
        display: none;
    }
    .sign-in{
        display: none;
    }
    h1{
        font-size: 38px;
    }

    .trust{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .trust-text span{
        display: inline;
    }
    .trust-logos{
        flex-wrap: wrap;
        gap: 30px 24px;
        flex-basis: 100%;
        justify-content: flex-start;
    }

    .features {
        padding: 80px 0;
    }

    .feature{
        max-width: 100%;
    }


    .features-container{
        grid-template-columns: minmax(200px, 1fr);
        margin: 0;
    }

    .feature.feat-two {
        grid-area: 4/1;
    }

    .feature.feat-three {
        grid-area: 2/1;
    }

    .feature.feat-four {
        grid-area: 3/1;
    }

    .feature.feat-five {
        grid-area: 6/1;
    }

    .feature.feat-six {
        grid-area: 5/1;
    }

    .showcase{
        display: flex;
        flex-direction: column;
        row-gap: 45px;
    }

    .video img {
        width: 100%;
    }
    .save{
        text-align: center;
    }

    .email{
        padding: 12px 95px 12px 24px;
    }

    .input-holder{
        flex-direction: column;
        background-color: #FFFFFF;
        gap: 12px;
    }

}